body {
    font-family: Lato;
    font-size: 22px;
    background: white;
    color: black;
    margin: 0;
}
.Main_Frame {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-between;
}
.Head_Style {
    padding: 6px;
}
.Head_Frame_Left {
    display: flex;
    font-size: 16px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.Head_Frame {
    display: flex;
    font-size: 16px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.Main_Content_Frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Main_Content_Button_Frame {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
button {
  background-color: white;
  border: 1px solid #303134;
  border-radius: 4px;
  color: black;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
}
.Footer_Frame {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.Footer_Right_Frame {
    display: flex;
    font-size: 16px;
    justify-content: space-evenly;
    flex-direction: row;
    align-content: flex-end;
}
.Field {
    font-size: 24px;
    display: flex;
    min-height: 44px;
    background: white;
    border: 1px solid #5f6368;
    box-shadow: none;
    border-radius: 24px;
    max-width: 584px;
    min-width: 50px;
    color: black;
    text-align: center;
}
div {
    display: block;
}

.Logo {
    height: 100px;
    width: 300px;
}
.Head_Image {
    height: 24px;
    width: 24px;
    padding: 6px;
}